/** ==UserStyle==
 * @name Context Menu Cleanup
 * @stylish-id 107171
 * @author Niklas Gollenstede
 * @licence CC-BY-SA-4.0 or MIT
 * @description
 *     Removes context menu entries rarely used (by me) and makes those used often larger.
 *
 *     If you have any issues with this style, please open a ticket at https://github.com/NiklasGollenstede/stylish
 */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document
    url(chrome://browser/content/browser.xul)
{

    #context-bookmarklink,
    #context-sendimage,
    #context-sep-copylink,
    #context-setWallpaper,
    #context-setDesktopBackground,

    #context-back,
    #context-forward,
    #context-reload,
    #context-stop,
    #context-sep-stop,

    #context-selectall,

    #context-sendlink,
    #context-savelinktopocket,
    #context-sendlinktodevice,
    #context-bookmarkpage,
    #context-savepage,
    
    #context-searchselect,

    #context-viewsource,
    #context-viewpartialsource-selection,
    #context-viewinfo,
    #context-inspect-a11y,

    #dtaCtxSepFront-direct,
    .dta-menuitem.dta-turbo
    {
        display: none;
    }

    #context-openlinkintab,
    #context-viewimage
    {
        min-height: 2.3em;
        font-weight: bold;
    }

}

@-moz-document
    url-prefix(chrome://),
    url-prefix(about:),
    url-prefix(resource://)
{
    menuitem[disabled="true"]
    {
        display: none;
    }

    menuseparator
    {
        -moz-appearance: none;
        height: 1px;
        margin: 0px;
        margin-top: -1px;
        border: none;
        border-top: 1px solid #777;
        padding: 0px;
    }
}
