/** ==UserStyle==
 * @name Developer Edition Dark
 * @stylish-id 119664
 * @author Niklas Gollenstede
 * @licence CC-BY-SA-4.0 or MIT
 * @description
 *     Slight rework of the dark Developer Edition theme of Firefox.
 *     Also works in normal Firefox and even Thunderbird.
 *
 *     If you have any issues with this style, please open a ticket at https://github.com/NiklasGollenstede/stylish
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
 * context menu
 */
@-moz-document
    url-prefix(chrome://),
    url-prefix(about:),
    url-prefix(resource://)
{
    menupopup {
        filter: invert(100%) hue-rotate(180deg);
        padding: 1px;
    }
    menu .menu-iconic-left,
    menuitem .menu-iconic-left {
        filter: invert(100%) hue-rotate(180deg);
    }
}


/**
 * desktop notifications (windows)
 */
@-moz-document
    url(chrome://global/content/alerts/alert.xul)
{
    #alertBox>:not(image), image
    { filter: invert(100%) hue-rotate(180deg); }
    toolbarbutton image
    { filter: unset; }

    #alertBox {
        background-color: #121518; /* inspector body color */
    }
}


/**
 * main windows
 */
@-moz-document
    url(chrome://messenger/content/messenger.xul),
    url(chrome://browser/content/browser.xul)
{

    /*
     * vars
     */

    :root {
        --tab-line-color: #C75600;
        --chrome-secondary-background-color: #39424D;
        --chrome-color: white;
    }


    /*
     * tabs
     */

    window[sizemode=maximized] #navigator-toolbox
    { margin-top: 0px; }
    window #navigator-toolbox
    { margin-top: 1px; }
    window[uidensity=compact]
    { --tab-min-height: 31px; }
    
    #TabsToolbar {
        margin-bottom: 0px;
    }

    tab[pending] {
        opacity: 0.6;
    }
    tab:not([pending]):not([selected]) .tab-background {
        background: #7773;
    }

    tab[selected] .tab-background {
        border-style: solid;
        border-width: 0 1px;
        border-image: linear-gradient(to bottom, #C75600 3px, #777 3px, #777 100%, transparent 100%) 1 100%;
    }

    tab:not([pinned]) {
        transition: none;
    }
    tab[selected]:not([pinned]) {
        min-width: 200px;
    }

    tab[pinned] .tab-content {
        padding: 0 2px 0 10px;
    }
    tab[pinned][busy] .tab-content {
        padding: 0 9px 0 10px;
    }
    tab[pinned]::before { /*left border */
        display: none;
    }

    .tab-line
    { height: 2px; }

    .tab-bottom-line
    { transform: translateY(-.5px); }

    .tab-icon-image {
        padding: 5px;
        margin-right: 2px;
        margin-left: -5px;
        width: 26px;
        height: 26px;
        background: radial-gradient(white 20%, transparent 75%);
    }

    .tab-close-button {
        height: 24px;
        width: 28px;
        margin: -2px -10px 0 0;
    }
    tab:not([selected]) .tab-close-button {
        display: none;
    }

    #TabsToolbar[movingtab] {
        margin-bottom: -16px;
    }


    /*
     * navbar
     */

    #nav-bar-customization-target {
        margin-top: -1px;
    }
    #nav-bar,
    .mail-toolbox {
        border-top: 1px solid #777;
        margin-top: -1px;
        box-shadow: none;
    }

    .searchbar-textbox,
    #urlbar,
    #searchInput {
        border: 1px solid #1D2328 !important;
        background-color: #1D2328 !important;
        color: white;
    }
    #browser-panel>#navigator-toolbox>#nav-bar>#nav-bar-customization-target .searchbar-textbox[focused],
    #browser-panel>#navigator-toolbox>#nav-bar>#nav-bar-customization-target #urlbar[focused]
    { border: 1px solid #955 !important; }

    /* move reload button into url-bar (must be placed just right of the url-bar) */
	#urlbar-container {
        margin-right: -30px;
    }
	#urlbar-container .urlbar-textbox-container {
        margin-right: 27px;
    }
	#urlbar-container + toolbaritem {
        transform: translateX(-6px);
    }
    #urlbar-container + toolbaritem image {
        border-radius: 0;
    }

    /* pretty sure this is gone */
    /* #urlbar #notification-popup-box  {
        background: #171B1F !important;
    } */

    #PopupAutoComplete,
    #PopupSearchAutoComplete,
    #PopupAutoCompleteRichResult,
    #PopupGlodaAutocomplete {
        filter: invert(100%) hue-rotate(180deg);
        background-color: white;
    }

    #PopupAutoComplete image,
    #PopupSearchAutoComplete image,
    #PopupAutoCompleteRichResult image,
    #PopupGlodaAutocomplete image {
        filter: invert(100%) hue-rotate(180deg);
    }

    #navigator-toolbox::after { display: none; } /* bottom border */


    /*
     * sidebar
     */

    #sidebar-splitter {
        border-color: #39424D; /* inspector body color filtered */
    }
    #sidebar-header {
        color: white;
        background-color: #39424D; /* inspector body color filtered */
        margin: -1px 0;
        padding: 2px 8px 1px 8px;
    }
    #sidebar-switcher-target {
        padding: 0 4px;
    }


    /*
     * panels
     */

    /* .popup-notification-panel, */
    #customization-lwtheme-menu,
    #widget-overflow,
    #PanelUI-popup,
    #downloadsPanel,
    #identity-popup,
    #notification-popup,
    #appMenu-notification-popup,
    #sidebarMenu-popup,
    #customization-panelWrapper
    { filter: invert(100%) hue-rotate(180deg); }

    #PanelUI-multiView,
    #PanelUI-multiView panelview,
    #identity-popup-multiView,
    #BMB_bookmarksPopup .panel-arrowcontent,
    #downloadsPanel .panel-arrowcontent,
    #appMenu-notification-popup .panel-arrowcontent,
    #sidebarMenu-popup .panel-arrowcontent,
    #customization-panelWrapper .panel-arrowcontent
    { background-color: #E6E9EC; /* inspector body color filtered */ }

    #customization-content-container
    { background: black; }

    #widget-overflow image,
    #downloadsPanel .downloadTypeIcon,
    #PanelUI-popup toolbarbutton[id$="-browser-action"] .toolbarbutton-icon
    { filter: invert(100%) hue-rotate(180deg); }

    #PopupSearchAutoComplete .search-panel-current-engine
    { display: none; }


    tooltip,
    statuspanel[type="overLink"],
    menupopup {
        filter: invert(100%) hue-rotate(180deg);
        padding: 1px;
    }


    /*
     * plugin notification
     */

    notification[value="plugin-hidden"],
    #fullscreen-warning
    { display: none; }

    .notificationbox-stack
    { position: fixed; }


    /**
     * content
     */

    tabbrowser#content,
    browser[type="content"]:not([transparent])
    { background: black; }


    /*
     * tab modal dialogs
     */

    tabmodalprompt>*  {
        position: fixed;
        left: 10px;
        right: 10px;
        top: 80px;
        bottom: 10px;
    }
    tabmodalprompt .mainContainer {
        background-color: transparent;
        position: relative;
        width: 100%;
        height: 100%;
        color: black;
        border: none;
        z-index: 100;
    }
    /* main text */
    tabmodalprompt .topContainer>*>*>:nth-child(2) {
        background-color: rgba(230, 233, 236, .93);
        padding: 5px 10px 5px 10px;
    }
    tabmodalprompt {
        filter: invert(100%) hue-rotate(180deg);
        background-color: rgba(198, 197, 206, .85);
    }

}

@-moz-document
    url(chrome://messenger/content/messenger.xul)
{

    .mail-toolbox toolbarbutton {
        color: white !important;
    }
    .mail-toolbox toolbarbutton image {
        filter: brightness(200%) saturate(200%) hue-rotate(0deg);
    }

    tab .tab-content {
        background-color: #1C2126;
    }
    tab[selected] .tab-content {
        background-image: linear-gradient(180deg, #C75600 4px, #39424D 4px);
    }
    #main-window[sizemode="normal"] tab[selected] .tab-content {
        background-image: linear-gradient(180deg, #C75600 2px, #39424D 2px);
    }
    tab:not([selected]):hover .tab-content {
        background-color: #111518;
    }

    tab:not([selected]) {
        margin-bottom: 2px;
    }
    tab[selected] {
        margin-bottom: 1px;
    }
    tab[selected] .tab-content {
        padding-bottom: 1px;
        margin-left: -1px;
    }

    #tabbar-toolbar {
        padding-right: 5px;
        margin-right: -10px;
    }

    .mail-toolbox {
        border-top-width: 0px !important;
    }

    #msgNotificationBar {
        position: fixed;
        bottom: 20px;
    }

    #msgNotificationBar .notificationbox-stack {
        position: relative;
    }

}

@-moz-document
    url-prefix(about:)
{
    /* let the style manager list this style for all about pages */
}
