/** ==UserStyle==
 * @name Developer Edition Dark
 * @stylish-id 119664
 * @author Niklas Gollenstede
 * @licence CC-BY-SA-4.0 or MIT
 * @description
 *     Slight rework of the dark Developer Edition theme of Firefox.
 *     Requires Firefox' dark theme, or Firefox with a dark system theme.
 *
 *     If you have any issues with this style, please open a ticket at https://github.com/NiklasGollenstede/stylish
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document
    url(chrome://global/content/alerts/alert.xul)
{
    /**
     * desktop notifications (windows)
     */

    #alertBox {
        color: white;
        background-color: #121518; /* inspector body color */
    }

    image {
        /* TODO: make this optional */
        background: radial-gradient(white 20%, transparent 73%);
    }
}


@-moz-document
    url(chrome://messenger/content/messenger.xul),
    url(chrome://browser/content/browser.xhtml),
    url(chrome://browser/content/browser.xul)
{
    /**
     * main windows
     */

    /*
     * vars
     */

    :root {
        /* general */
        --chrome-color: /*[[!text-color]]*/white/*[[/text-color]]*/;
        --chrome-secondary-background-color: /*[[!background-color]]*/#39424D/*[[/background-color]]*/;
        --lwt-text-color: var(--chrome-color);
        --tab-line-color: /*[[!tab-line]]*/#C75600/*[[/tab-line]]*/;
        --tab-line-color: white;

        /* panels */
        --arrowpanel-color: var(--chrome-color);
        --arrowpanel-background: /*[[!panel-prim-bg]]*/#171B1F/*[[/panel-prim-bg]]*/;
        --arrowpanel-dimmed: /*[[!panel-sec-bg]]*/#1D2328/*[[/panel-sec-bg]]*/;

        /* url and search bar */
        --lwt-toolbar-field-background-color: var(--arrowpanel-dimmed);
        --lwt-toolbar-field-border-color: var(--arrowpanel-dimmed);
        --toolbar-field-focus-border-color: /*[[!urlbar-highlight]]*/#955/*[[/urlbar-highlight]]*/;
        --autocomplete-popup-color: var(--chrome-color);
        --autocomplete-popup-background: var(--arrowpanel-background);

        /* custom vars */
        --ded-tab-border-color: #777;
        --ded-inacitve-tab-bg: #7773;
        --ded-min-tab-width: 200px;
    } /* no literal colors from here on */

    :root {
        /* reverse some "proton" stuff */
        --tab-min-height: 24px; /* +8px */
        --tab-border-radius: 0px;
        --tab-shadow-max-size: 0px;
        --proton-tab-block-margin: 0px;
        --inline-tab-padding: 10px;
    }

    /*
     * tabs
     */

    #TabsToolbar {
        background: black;
    }

    .tabbrowser-tab:not([selected]) {
        background: var(--ded-inacitve-tab-bg);
    }

    .tabbrowser-tab[selected] .tab-background {
        border-style: solid;
        border-width: 3px 1px 0 1px;
        border-color: var(--ded-tab-border-color);
        border-top-color: var(--identity-tab-color, var(--tab-line-color));
    }
    .tabbrowser-tab:not([selected]):hover  .tab-background {
        border-top: 3px solid var(--identity-tab-color, var(--tab-line-color));
    }

    .tabbrowser-tab {
        padding-inline: 0;
    }
    .tabbrowser-tab {
        min-height: calc(var(--tab-min-height) + 8px);
    }
    .tab-secondary-label {
        display: none;
    }
    .tab-icon-image, .tab-icon-overlay {
        opacity: 1;
    }
    .tab-icon-overlay {
        background: radial-gradient(black 20%, transparent 75%);
        fill-opacity: 1;
        position: relative;
        left: -6px;
    }

    /* dim not-loaded tabs */
    .tabbrowser-tab[pending]>* { /* apply to children to avoid reducing the opacity of the ::after element border */
        /*[[!pending-tab-style]]*/opacity: 0.6; /* gray out by 40% */
background: black;/*[[!pending-tab-style]]*/
    }

    /* increase width of non-pinned selected tabs */
    .tabbrowser-tab:not([pinned]) {
        /* transition: none; */ /* must not disable transition (firefox removes the [movingtab] attribute at its end) */
        /* transition-timing-function: linear, linear; */
        /* transition-duration: .1s, .1s; */
    }
    .tabbrowser-tab[selected]:not([pinned])
    { min-width: var(--ded-min-tab-width); }

    /* put a spotlicht under the favicons, which are mostly designed for light backgrounds */
    .tabbrowser-tab .tab-icon-image {
        background: radial-gradient(white 20%, transparent 75%);
        padding: 5px;
        width: 26px; height: 26px;
        margin-right: -5px; margin-left: -5px;
    }
    .tabbrowser-tab:not([pinned]) .tab-icon-image
    { margin-right: 2px; }

    .tabbrowser-tab .tab-line
    { background-color: var(--identity-tab-color, var(--tab-line-color)); }
    .tabbrowser-tab:not([selected]):hover .tab-line
    { opacity: 0.675; }


    /*
     * navbar
     */

    /* insert gray border between tabs and navbar */
    #nav-bar-customization-target {
        margin-top: -1px;
    }
    #nav-bar {
        border-top: 1px solid var(--ded-tab-border-color);
        box-shadow: none;
        /* margin-top: -1px; */ /* modifying margin-top messes with a [movingtab] hack, so instead translate: */
        transform: translateY(-1px); margin-bottom: -1px;
        z-index: 1;
    }
    #TabsToolbar[movingtab] + #nav-bar {
        margin-top: -16px; /* [movingtab] adds 15px padding to the #TabsToolbar */
    }

    /* oultine of search result box */
    #urlbar[open] #urlbar-background {
        border: 2px solid  var(--toolbar-field-focus-border-color);
    }
    #urlbar-container, #search-container {
        margin-block: 1px;
    }

    /* decrease overall height */
    #urlbar-container {
        --urlbar-container-height: 33px;
    }
    #urlbar {
        --urlbar-height: 32px;
        --urlbar-toolbar-height: 33.8px;
    }

    /* move reload button into url-bar (must be placed just right of the url-bar) */
/*[[!reload-left]]*/
    #urlbar-container {
        margin-right: -26px;
    }
    #urlbar-container #page-action-buttons {
        margin-right: 25px;
    }
    #urlbar-container + toolbaritem {
        transform: translateX(-6px);
    }
    #urlbar-container + toolbaritem image {
        padding: 4px;
        border-radius: 0 2px 2px 0;
        width: calc(2 * var(--toolbarbutton-inner-padding) + 12px);
        height: calc(2 * var(--toolbarbutton-inner-padding) + 12px);
    }
    #urlbar-container + toolbaritem:hover image {
        background-color: hsla(0,0%,70%,.2); /* hard coded value in firefox' default style */
    }
/*[[/reload-left]]*/


    /*
     * sidebar
     */

    #sidebar-header {
        margin: -1px 0;
        padding: 1px 2px 2px 3px;
    }
    #sidebar-switcher-target {
        padding: 0 4px;
    }


    /*
     * plugin notification
     */

    /* notification[value="plugin-hidden"], */ /* what exactly is this? */
    #fullscreen-warning
    { display: none; }

    /* displlay banner notifications hovering over the top of the page, instead of pushing it down */
    .notificationbox-stack
    { position: fixed; }


    /**
     * content
     */

    /* prevent white flashes before content browser is initialized */
    tabbrowser#content,
    browser[type="content"]:not([transparent])
    { background: black; }

}

@-moz-document
    url-prefix(about:)
{
    /* let the style manager list this style for all about pages */
}
