/** ==UserStyle==
 * @name Developer Edition Dark
 * @stylish-id 119664
 * @author Niklas Gollenstede
 * @licence CC-BY-SA-4.0 or MIT
 * @description
 *     Slight rework of the dark Developer Edition theme of Firefox.
 *     Requires Firefox' dark theme, preferably with compact density.
 *     Also works in Thunderbird.
 *
 *     If you have any issues with this style, please open a ticket at https://github.com/NiklasGollenstede/stylish
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document
    url-prefix(chrome://),
    url-prefix(about:),
    url-prefix(resource://)
{
    /*
     * context menu
     */

    menupopup {
        filter: invert(100%) hue-rotate(180deg);
        padding: 1px;
    }
    menu .menu-iconic-left,
    menuitem .menu-iconic-left {
        filter: invert(100%) hue-rotate(180deg);
    }
}


@-moz-document
    url(chrome://global/content/alerts/alert.xul)
{
    /**
     * desktop notifications (windows)
     */

    #alertBox {
        color: white;
        background-color: #121518; /* inspector body color */
    }
    
    image {
        /* TODO: make this optional */
        !background: radial-gradient(white 20%, transparent 73%);
    }
}


@-moz-document
    url(chrome://messenger/content/messenger.xul),
    url(chrome://browser/content/browser.xul)
{
    /**
     * main windows
     */

    /*
     * vars
     */

    :root {
        /* general */
        --chrome-color: /*[[!text-color]]*/white/*[[/text-color]]*/;
        --chrome-secondary-background-color: /*[[!background-color]]*/#39424D/*[[/background-color]]*/;
        --lwt-text-color: var(--chrome-color);
        --tab-line-color: /*[[!tab-line]]*/#C75600/*[[/tab-line]]*/;
        --tab-line-color: white;

        /* panels */
        --arrowpanel-color: var(--chrome-color);
        --arrowpanel-background: /*[[!panel-prim-bg]]*/#171B1F/*[[/panel-prim-bg]]*/;
        --arrowpanel-dimmed: /*[[!panel-sec-bg]]*/#1D2328/*[[/panel-sec-bg]]*/;

        /* url and search bar */
        --lwt-toolbar-field-background-color: var(--arrowpanel-dimmed);
        --lwt-toolbar-field-border-color: var(--arrowpanel-dimmed);
        --toolbar-field-focus-border-color: /*[[!urlbar-highlight]]*/#955/*[[/urlbar-highlight]]*/;
        --autocomplete-popup-color: var(--chrome-color);
        --autocomplete-popup-background: var(--arrowpanel-background);

        /* custom vars */
        --ded-tab-border-color: #777;
        --ded-inacitve-tab-bg: #7773;
        --ded-min-tab-width: 200px;
    } /* no literal colors from here on */


    /*
     * tabs
     */

    tab:not([selected]) {
        background: var(--ded-inacitve-tab-bg);
    }
    #tabbrowser-tabs {
        --tab-line-color: inherit;
    }
    tab[selected] .tab-background {
        border-style: solid;
        border-width: 0 1px;
        border-image: linear-gradient(to bottom,
            var(--identity-tab-color, var(--tab-line-color)) 3px,
            var(--ded-tab-border-color) 3px
        ) 1 100%;
    }
    tab[selected]::after /* border between tabs */
    { visibility: hidden; }

    /* dim not-loaded tabs */
    tab[pending]>* { /* apply to children to avoid reducing the opacity of the ::after element botder */
        /*[[!pending-tab-style]]*/opacity: 0.6; /* gray out by 40% */
background: black;/*[[!pending-tab-style]]*/
    }

    /* increase width of non-pinned selected tabs */
    tab:not([pinned]) {
        /* transition: none; */ /* must not disable transition (firefox removes the [movingtab] attribute at its end) */
        !transition-timing-function: linear, linear;
        !transition-duration: .1s, .1s;
    }
    tab[selected]:not([pinned])
    { min-width: var(--ded-min-tab-width); }

    /* make the close button a little larger, esp. for touch devices */
    .tab-close-button {
        height: 24px; width: 24px;
        margin: -0px -6px 0 0;
    }

    /* put a spotlicht under the favicons, which are mostly designed for light backgrounds */
    tab .tab-icon-image {
        background: radial-gradient(white 20%, transparent 75%);
        padding: 5px;
        width: 26px; height: 26px;
        margin-right: -5px; margin-left: -5px;
    }
    tab:not([pinned]) .tab-icon-image
    { margin-right: 2px; }

    tab .tab-line
    { background-color: var(--identity-tab-color, var(--tab-line-color)); }
    tab:not([selected]):hover .tab-line
    { opacity: 0.675; }


    /*
     * navbar
     */

    /* insert gray border between tabs and navbar */
    #nav-bar-customization-target {
        margin-top: -1px;
    }
    #nav-bar,
    .mail-toolbox {
        border-top: 1px solid var(--ded-tab-border-color);
        margin-top: -1px;
        box-shadow: none;
    }
    #TabsToolbar[movingtab] + #nav-bar {
        margin-top: -16px; /* [movingtab] adds 15px padding to the #TabsToolbar */
    }

    /* move reload button into url-bar (must be placed just right of the url-bar) */
/*[[!reload-left]]*/
    #urlbar-container {
        margin-right: -26px;
    }
    #urlbar-container .urlbar-textbox-container {
        margin-right: 26px;
    }
    #urlbar-container + toolbaritem {
        transform: translateX(-6px);
    }
    #urlbar-container + toolbaritem image {
        padding: 4px;
        border-radius: 0 2px 2px 0;
        width: calc(2 * var(--toolbarbutton-inner-padding) + 12px);
        height: calc(2 * var(--toolbarbutton-inner-padding) + 12px);
    }
    #urlbar-container + toolbaritem image:hover { /* this doesn't work ... */
        background-color: hsla(0,0%,70%,.2); /* hard coded value in firefox' default style */
    }
/*[[/reload-left]]*/

    /* remove border below UI */
    #navigator-toolbox::after { display: none; }


    /*
     * sidebar
     */

    #sidebar-splitter {
        border-color: var(--chrome-secondary-background-color);
    }
    #sidebar-header {
        color: var(--chrome-color);
        background-color: var(--chrome-secondary-background-color);
        margin: -1px 0;
        padding: 1px 2px 2px 3px;
    }
    #sidebar-switcher-target {
        padding: 0 4px;
    }


    /*
     * panels
     */

    #PopupSearchAutoComplete .search-panel-current-engine
    { display: none; }


    /*
     * plugin notification
     */

    /* notification[value="plugin-hidden"], */ /* what exactly is this? */
    #fullscreen-warning
    { display: none; }

    /* displlay banner notifications hovering over the top of the page, instead of pushing it down */
    .notificationbox-stack
    { position: fixed; }


    /**
     * content
     */

    /* prevent white flashes before content browser is initialized */
    tabbrowser#content,
    browser[type="content"]:not([transparent])
    { background: black; }

    tooltip, /* title attribute hover text */
    #statuspanel[type="overLink"] /* url href preview at window bottom */
    { filter: invert(100%) hue-rotate(180deg); }


    /*
     * tab modal dialogs
     */

    /* make it dark and cover the whole page */
    tabmodalprompt {
        filter: invert(100%) hue-rotate(180deg);
        background-color: transparent;
        display: block; position: relative;
    }
    tabmodalprompt>spacer
    { display: none; }
    tabmodalprompt>hbox {
        display: block;
        width: 100%; height: 100%;
    }
    tabmodalprompt .mainContainer {
        width: 100%; height: 100%;
        background-color: rgba(198, 197, 206, .85);
        border: none;
    }
    tabmodalprompt .infoBody {
        background-color: rgba(230, 233, 236, .93);
        padding: 5px 10px 5px 10px;
    }

}

@-moz-document
    url(chrome://messenger/content/messenger.xul)
{
    /* TODO: add fixes for Thunderbird 60 */

    .mail-toolbox toolbarbutton {
        color: white !important;
    }
    .mail-toolbox toolbarbutton image {
        filter: brightness(200%) saturate(200%) hue-rotate(0deg);
    }

    tab .tab-content {
        background-color: #1C2126;
    }
    tab[selected] .tab-content {
        background-image: linear-gradient(180deg, #C75600 4px, #39424D 4px);
    }
    #main-window[sizemode="normal"] tab[selected] .tab-content {
        background-image: linear-gradient(180deg, #C75600 2px, #39424D 2px);
    }
    tab:not([selected]):hover .tab-content {
        background-color: #111518;
    }

    tab:not([selected]) {
        margin-bottom: 2px;
    }
    tab[selected] {
        margin-bottom: 1px;
    }
    tab[selected] .tab-content {
        padding-bottom: 1px;
        margin-left: -1px;
    }

    #tabbar-toolbar {
        padding-right: 5px;
        margin-right: -10px;
    }

    .mail-toolbox {
        border-top-width: 0px !important;
    }

    #msgNotificationBar {
        position: fixed;
        bottom: 20px;
    }

    #msgNotificationBar .notificationbox-stack {
        position: relative;
    }

}

@-moz-document
    url-prefix(about:)
{
    /* let the style manager list this style for all about pages */
}
