/** ==UserStyle==
 * @name Dialogs Dark
 * @author Niklas Gollenstede
 * @licence CC-BY-SA-4.0 or MIT
 * @description
 *     Turns all/most Firefox and Thunderbird dialog windows dark.
 *     Background colors are inspired by the Developer Edition theme.
 *     The style uses inversion filters, so some icons are inverted (those in theechildren).
 *
 * @namespace    https://github.com/NiklasGollenstede/user-styles
 * @homepageURL  https://github.com/NiklasGollenstede/user-styles
 * @supportURL   https://github.com/NiklasGollenstede/user-styles/issues
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document
    /* settings */
    /*url(chrome://browser/content/aboutDialog.xul),*/ url(chrome://messenger/content/aboutDialog.xul),
    url-prefix(chrome://browser/content/preferences/), url-prefix(chrome://messenger/content/preferences/),
    url(chrome://mozapps/content/update/history.xul),
    url(chrome://passwordmgr/content/passwordManager.xul),
    url(chrome://pippki/content/certManager.xul),
    url(chrome://pippki/content/device_manager.xul),

    /* thunderbird */
    url(chrome://editor/content/EdSpellCheck.xul),
    url(chrome://messenger/content/accountcreation/emailWizard.xul),
    url(chrome://messenger/content/AccountManager.xul),
    url(chrome://messenger/content/addressbook/addressbook.xul),
    url(chrome://messenger/content/newFolderDialog.xul),
    url(chrome://messenger/content/messengercompose/sendProgress.xul),
    url(chrome://messenger/content/SearchDialog.xul),
    url(chrome://messenger/content/subscribe.xul),
    url(chrome://messenger-smime/content/msgCompSecurityInfo.xul),
    /* TODO: all popups from CreateMessage -> Insert menu */
    /*url(chrome://passwordmgr/content/passwordManagerExceptions.xul),*/ /* TODO: still in TB?; */

    /* common */
    url(chrome://global/content/commonDialog.xul), /* confirm dialogs (obsolete with dark theme from ~FF61) */
    url(chrome://global/content/printPageSetup.xul),
    url(chrome://mozapps/content/downloads/unknownContentType.xul), /* save or open dialog (obsolete with dark theme from ~FF61) */

    /* firefox */
    url(chrome://browser/content/pageinfo/pageInfo.xul), url(chrome://messenger/content/pageinfo/pageInfo.xul), /* page info window (harder to reach, but it is still in FF63) */
    url(chrome://browser/content/places/places.xul), url(chrome://messenger/content/places/places.xul), /* library */
    url(chrome://browser/content/sanitize.xul), url(chrome://messenger/content/sanitize.xul), /* library */

    url()
{

    :root
    {
        filter: invert(100%) hue-rotate(180deg);
        background-color: #14171A; /* inspector body color unfiltered */
    }
    /* TODO: uninvert treechildren s icons */

    #iconContainer
    { filter: invert(100%) hue-rotate(180deg); }

    #topBar, /* pageInfo */
    #placesToolbar,
    .chromeclass-toolbar
    {
        background-color: #BDC5CE; /* inspector header color filtered */
        background-image: unset;
    }

    #CookiesDialog>*,
    #PermissionsDialog>*,
    #SanitizeDialog>*,
    #SignonViewerDialog>*,
    #SignonViewerExceptionDialog>*
    {
        background-color: transparent;
    }
}

@-moz-document
    url-prefix(about:)
{
    /* just so this is listed as a style for about pages (which it is because some of the dialogs are displayed there) */
}
