/** ==UserStyle==
 * @name Raw Text Dark
 * @stylish-id 119667
 * @author Niklas Gollenstede
 * @licence CC-BY-SA-4.0 or MIT
 * @description
 *     Turns the background of plain text opened in Firefox dark, and the text itself white.
 *
 *     If you have any issues with this style, please open a ticket at https://github.com/NiklasGollenstede/user-styles
 *
 * @options
 *   - name        :  wrap
 *     title       :  Wrap text
 *     description :  Break long lines instead of scrolling horizontally.
 *     type        :  bool
 *     off         :  pre
 */

@-moz-document
    regexp("^resource://.*[.](?:css|jsm?|txt|json)$"/*as:content*/),
    regexp("^moz-extension://(?!.*[.](html?|gif|svg)(:?$|[?#])).*$"/*as:content*/),
    regexp("^https?://(?!(?:tools|www)[.]ietf[.]org).*[.](?:css|jsm?|txt)(:?$|[?#].*)"/*as:content*/),
    regexp("^file://.*[.](?:css|jsm?|txt)$"/*as:content*/),
    regexp("^ftp://.*[.](?:css|jsm?|txt|json)$"/*as:content*/), /* Firefox doesn't recognize JSON over FTP */
    regexp("^data:(?!text/x?html)[\\w/-]+[;,].*$"/*as:content*/),
    url-prefix("https://raw.githubusercontent.com/"/*as:content*/)
{
    html:not([class])>body:not([class])>pre:only-child /* plain text */
    {
        filter: invert(100%) hue-rotate(180deg) contrast(90%) saturate(200%) brightness(125%);
        background-color: #E6E9EC; /* inspector body color filtered */
        font-size: 16px; line-height: 1.2;
        position: fixed;
        overflow: scroll;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: -16px;
        padding: 15px;
        tab-size: 4;
        -moz-tab-size: 4;
        white-space: /*[[!wrap]]*/pre-wrap/*[[/wrap]]*/;
    }
}

@-moz-document
    url-prefix("view-source:")
{
    body#viewsource>pre:first-child
    {
        filter: invert(100%) hue-rotate(180deg) contrast(90%) saturate(200%) brightness(125%);
        background-color: #E6E9EC; /* inspector body color filtered */
        font-size: 16px;
        position: fixed;
        overflow: scroll;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: 0px;
        padding: 10px 50px;
        tab-size: 4;
        -moz-tab-size: 4;
        white-space: /*[[!wrap]]*/pre/*[[/wrap]]*/;
    }
}
