/**
 * @name Sidebars Dark
 * @stylish-id <none>
 * @author Niklas Gollenstede
 * @licence CC-BY-SA-4.0 or MIT
 * @description
 *     Turns all build-in Firefox sidebars dark.
 *     Background colors are inspired by the Developer Edition theme.
 *     The style uses inversion filters, so some icons are inverted (those in theechildren).
 *
 *     If you have any issues with this style, please open a ticket at https://github.com/NiklasGollenstede/stylish
 */

@-moz-document
	url(chrome://browser/content/bookmarks/bookmarksPanel.xul),
	url(chrome://browser/content/history/history-panel.xul),
	url(chrome://browser/content/syncedtabs/sidebar.xhtml)
{
	image, *|img,
	body, page {
		filter: invert(100%) hue-rotate(180deg);
	}
	/* TODO: uninvert treechildren s icons */

	body, page {
		background-color: #E6E9EC; /* inspector header color filtered */
		background-image: unset;
	}
}
