/**
 * @name userstyles.org Inverted
 * @stylish-id 117351
 * @author Niklas Gollenstede
 * @licence CC-BY-SA-4.0 or MIT
 * @deprecated I personally don't use this theme anymore and won't continue its maintainance.
 * @description
 *     Very simple colour inversion. Looks a bit old fashioned, but everything is perfectly dark and readable.
 */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("userstyles.org") {
    html {
        filter: invert(100%) hue-rotate(180deg) contrast(90%) saturate(200%) brightness(125%);
        background-color: black;
    }
    img, .Emoticon {
        filter: invert(100%) hue-rotate(180deg) contrast(70%) saturate(50%) brightness(125%);
    }
    .lightboxOverlay {
        background-color: white;
    }
}
