/** ==UserStyle==
 * @name GitHub custom width
 * @stylish-id 113930
 * @author Niklas Gollenstede
 * @licence CC-BY-SA-4.0 or MIT
 * @description
 *     Makes GitHubs main column wider, to use more of large screens.
 *     This uses css 'calc' rules, so that is works at any width. On smaller screens it simply defaults to the standard width.
 *     You can also choose the max-width.
 *
 *     If you have any issues with this style, please open a ticket at https://github.com/NiklasGollenstede/stylish
 *
 *
 * @options
 *   min-width:
 *     title:         Content `min-width`
 *     type:          number
 *     suffix:        px
 *   max-width:
 *     title:         Content `max-width`
 *     type:          number
 *     suffix:        px
 */

@-moz-document
    regexp("^https://(\w+\.)?github\.com(\/.*?)*$")
{
    .container {
        min-width: /*[[!min-width]]*/980px/*[[/min-width]]*/;
        max-width: /*[[!max-width]]*/1380px/*[[/max-width]]*/;
        width: calc(90%);
    }
    body {
        min-width: auto;
    }
    .js-header-wrapper {
        overflow: hidden;
    }
    .Header {
        min-width: 1000px;
    }
    @media (max-width: 1000px) { .HeaderMenu .mt-0 {
        display: none;
    } }
    .repository-with-sidebar .repository-content {
        width: calc(100% - 60px);
    }
    .repository-with-sidebar.with-full-navigation .repository-content {
        width: calc(100% - 210px);
    }
    .discussion-timeline {
        width: calc(100% - 220px);
    }
    .org-main {
        width: calc(100% - 280px);
    }
    .timeline-new-comment {
        max-width: unset;
    }
    .container .column.files {
        width: calc(100% - 188px);
    }
    .container .settings-content {
        width: calc(100% - 265px);
    }

    .message .css-truncate-target>a:first-child::before {
        content: attr(title);
        padding-right: 9999px;
    }
    .message .css-truncate-target>* {
        display: none;
    }
    .message .css-truncate-target>a:first-child {
        display: block;
    }
}
